
#intro {
    display: flex; /* 横並びにする */
   
}

.profile-image {
    width: 150px; /* 画像のサイズ調整 */
    height: 150px; /* 画像の高さを設定 */
    border-radius: 50%; /* 画像を丸くする */
    margin-right: 20px; /* 画像とテキストの間にスペースを作る */
}

.text-content {
    max-width: 600px; /* テキストの最大幅（必要に応じて調整） */
    
    align-items: center; /* 画像と文章を縦方向で中央揃え */
}

#intro h1, #intro p {
    margin: 10px 0; /* テキストの間にスペースを追加 */
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;          /* 最大幅を100%に設定 */
    flex-wrap: wrap;          /* 画像が横に並びきれない場合、次の行に折り返す */
    box-sizing: border-box;   /* パディングを含めたサイズ計算 */
}
.imagesize {
    width: 100%;            /* 画像の幅を親要素に合わせる */
    max-width: 200px;       /* 最大幅を200pxに制限 */
    height: auto;           /* 高さは自動調整 */
    border-radius: 10px;    /* 画像を丸角にする */
}
